@import url('https://fonts.googleapis.com/css?family=Bitter|Orbitron|Righteous|Exo|Mogra|Tangerine|Acme|OpenSans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$pColor: white;
$pFont: Acme, serif;

* {box-sizing: border-box;}
a {text-decoration: none; color: navy;}
i {color: navy;}
body {margin: 0 auto; background-color: lightgrey; padding: 2vw; max-width: 1024px;}
.mapWrap {width: 100%; background-color: aqua; border: 1.25vw brown solid; border-radius: 10px;}
.mapTitle {position: relative; top: 1.5vw; text-align: center; font-size: 3.8vw;}
svg {width: 100%;}
.state {stroke-width: 0.97063118000000004; fill: tan; transition: all .4s}
.state:hover {fill: forestgreen; cursor: pointer;}
.selected {fill: navy;}
.header {margin-top: 2vw; width: 100%; background-color: white; text-align: center; border-radius: 10px 10px 0 0; padding: 1vw; font-size: 2em;}
.imageRow {background-color: white; display: flex; justify-content: space-between; flex-wrap: wrap; padding: 2vw;}
.flag {flex: 1; margin: auto;}
.seal {flex: 1; margin: auto;}
.textBox {background-color: white; padding: 2vw;}
.footer {width: 100%; height: auto; text-align: center; font-family: $pFont;}
